<app-navbar></app-navbar>

<div class="fexconte d-flex flex-row mb-3">
  <div  class="titulo p-2"><i class="fa-solid fa-angles-right"></i>Material utilizado<i class="fa-solid fa-angles-left"></i></div>
  <div id="current_date" class="p-2"></div>
  <div id="HoraActual" class="p-2"></div>
</div>

  <div class="container">
<h6  class="left"></h6>
<h6   class="right"></h6>
</div>
<nav></nav>
<form class="rounded mb-0 m-4 p-4 needs-validation novalidate">
    <div class=" d-flex flex-row mb-3">
        <div  class="tocken p-2">No.114</div>
        <div  class="p-2">/</div>
        <div  class="p-2">Mecánico: Persona</div>
       
      </div>
      <hr>
      <table class="table">
        <thead>
          <tr>
          
            <th scope="col">Grasa utilizada</th>
            <th><i class="fa-solid fa-check-to-slot"></i></th>
            <th scope="col">Herramienta utilizada</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
           
            <td> GRASA EP2(USO GENERAL)</td>
            <td> 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    
                    </label>
                  </div>
            </td>
            <td>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="1.Descripcion">
           
            </td>
          </tr>
          <tr>
           
            <td>GRASA XHP 222(ALTA TEMPERATURA Y FRICCIÓN)</td>
            <td> 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    
                    </label>
                  </div>
            </td>
            <td>
<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="2.Descripcion">
            </td>
          </tr>

          <tr>
           
            <td>GRASA SHC 220(EXCLUSIVA DE BOBST)</td>
            <td> 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    
                    </label>
                  </div>
            </td>
            <td>
<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="3.Descripcion">
            </td>
          </tr>

          <tr>
           
            <td>GRASA MOLYKOTE SEPARATOR SPRAY OIL</td>
            <td> 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    
                    </label>
                  </div>
            </td>
            <td>
<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="4.Descripcion">
            </td>
          </tr>

          <tr>
           
            <td>GRASA MOBIL SHC POLYREX 462</td>
            <td> 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    
                    </label>
                  </div>
            </td>
            <td>
<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="5.Descripcion">
            </td>
          </tr>

          <tr>
           
            <td>GRASA LIQUIDA WURTH HHS 2000</td>
            <td> 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    
                    </label>
                  </div>
            </td>
            <td>
<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="6.Descripcion">
            </td>
          </tr>

          <tr>
           
            <td>ACEITE MOBIL SHC CIBUS 68(EMBOBINADORES)</td>
            <td> 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    
                    </label>
                  </div>
            </td>
            <td>
<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="7.Descripcion">
            </td>
          </tr>
         
        </tbody>
      </table>
    
<!-- 



 -->


  
  <br>
      <div class="d-grid gap-2">
        <!-- <button type="button" class="btn btn-success btn.lg" (click)="onSetData(); onAddSolicitud(solicitud)"><i class="fas fa-paper-plane"></i> Solicitar</button> -->
        <button
          type="submit"
          class="btnenvia btn btn-primary btn.lg"
        >
        <i class="fa-solid fa-floppy-disk"></i>
          Guardar/Aceptar
        </button>
        <br />
      </div>
</form>
