<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
<br>

<div class="page-wrapper" >
    <!-- ******Header****** -->
    <section class="cards-section text-center">
        <div class="container">
            <div id="cards-wrapper" class="cards-wrapper row">
                <div class="item item-green col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <i class="icon fa-3x fas fa-table"></i>
                        </div><!--//icon-holder-->
                        <h3 class="title">Solicitudes</h3>
                        <p class="intro">Catalogo de Solicitudes</p>
                        <a class="link" routerLink="/Resumen_Solicitudes"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-pink item-2 col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">

                            <span aria-hidden="true" class="icon fas fa-3x fa-users-cog"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">Administrador</h3>
                        <p class="intro">Modulo de administración</p>
                        <a class="link" href="/supervisor"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-blue col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <i class="icon fa-3x fas fa-mail-bulk"></i>
                            <span aria-hidden="true" class="icon icon_datareport_alt"></span>
                        </div><!--//icon-holder-->
                        <h3 class="title">Realiza una solicitud</h3>
                        <p class="intro">Formulario para solicitudes</p>
                        <a class="link" routerLink="/FormSolicitud"><span></span></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//cards-->
        </div><!--//container-->
    </section><!--//cards-section-->
</div><!--//page-wrapper-->
<!-- <footer class="footer col-auto p-2 text-center">

    <div class=" ">

       <p style="font-size:small ;color:red">BIOFLEX® <a style="color: black;">Empaques Flexibles.</a> </p>


    </div>

  </footer> -->

</body>
</html>
