
nav{
  background-color: rgb(255, 194, 28);
  position:fixed; 
 
  width: 100%;
  z-index:10000;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
  
}
.hr1 {

background-color:  rgb(255, 194, 28);
height: 5px;
border:none;

}