<nav class=" navbar " >
  
    <a class="navbar-brand" href="#"  (click)="OnClickExit()"><img src="assets/img/logo_bioflex-01.png" style="height: 40px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="assets/img/logo_bioflex-01.png"  style="height: 40px;"alt=""></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      
      <hr class="hr1">
      <div class="offcanvas-body" >
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="cursor: pointer" href="#"><img src="assets/img/home.png"  style="height: 25px;"> Inicio</a><hr>
          </li> -->
          <li class="nav-item">
            <a class="nav-link"   style="cursor: pointer"><i class="fas fa-clipboard" style="color: rgb(0, 162, 255);"></i> Mostrar por mécanico</a>
          </li>
          


          <div class="input-group input-group-sm mb-3" >
            <input  #identificador  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Ingresa tú número de nómina" name="nomina" id="txtNomina">
            <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="getInputValue(identificador.value)"  >Ir <i class="fas fa-chevron-right"></i></button>
          </div>
          <hr>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer" href="#" (click)="OnClickExit()" ><img src="assets/img/logout.png"  style=" height: 25px;">Volver al inicio</a>
          </li>
        </ul>
     </div>
      </div>
</nav>






    