<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<app-navbar></app-navbar>

<br><br><br>
<!-- <tr  *ngFor="let item of datatable"> -->

<nav>
<div class="nav nav-tabs" id="nav-tab" role="tablist">
<ul class="nav nav-tabs" >

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Áreas</a>
    <ul class="dropdown-menu">
      <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Mostrar todo</a>
      <a class="nav-link" id="nav-Extruder-tab" data-bs-toggle="tab" data-bs-target="#nav-Extruder" type="button" role="tab" aria-controls="nav-Extruder" aria-selected="false">Extrusión</a>
<a class="nav-link" id="nav-Print-tab" data-bs-toggle="tab" data-bs-target="#nav-Print" type="button" role="tab" aria-controls="nav-Print" aria-selected="false">Impresión</a>
<a class="nav-link" id="nav-Lamin-tab" data-bs-toggle="tab" data-bs-target="#nav-Lamin" type="button" role="tab" aria-controls="nav-Lamin" aria-selected="false">Laminado</a>
<a class="nav-link" id="nav-Pouch-tab" data-bs-toggle="tab" data-bs-target="#nav-Pouch" type="button" role="tab" aria-controls="nav-Pouch" aria-selected="false">Pouch</a>
<a class="nav-link" id="nav-Bolse-tab" data-bs-toggle="tab" data-bs-target="#nav-Bolse" type="button" role="tab" aria-controls="nav-Bolse" aria-selected="false">Bolseo</a>

    </ul>
  </li>
</ul>
</div>

</nav>
 <br>

<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
<!--tarjetas-->
<div class="page-wrapper" >
<!-- ******Header****** -->
<section class="cards-section text-center "  *ngFor="let item of datatable">
<div class="container ">
  <div class="card text-center border-dark text-bg-light ">
    <div class="card-header ">
      {{item.maquina}}/{{item.dispositivo}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{item.area}}</h5>

      <p class="card-text">Tomada por: {{item.nombre}}</p>
      <h6 class="card-title">Solicitado por: {{item.nombreSolicitante}}</h6>
      <p class="card-text">{{item.descripcionProblema}}</p>
      <a class="btn btn-warning" routerLink="/view/{{item.idSolicitud}}">Revisar/aceptar</a>
    </div>
    <div class="card-footer text-muted">
      No: {{item.idSolicitud}} - {{item.fechaSolicitud}}
    </div>
  </div>
<br>
</div><!--//container-->
</section><!--//cards-section-->
</div>
</div>
<div class="tab-pane fade" id="nav-Extruder" role="tabpanel" aria-labelledby="nav-Extruder-tab" tabindex="0">2</div>
<div class="tab-pane fade" id="nav-Print" role="tabpanel" aria-labelledby="nav-Print-tab" tabindex="0">3</div>
<div class="tab-pane fade" id="nav-Lamin" role="tabpanel" aria-labelledby="nav-Lamin-tab" tabindex="0">4</div>
<div class="tab-pane fade" id="nav-Pouch" role="tabpanel" aria-labelledby="nav-Pouch-tab" tabindex="0">5</div>
<div class="tab-pane fade" id="nav-Bolse" role="tabpanel" aria-labelledby="nav-Bolse-tab" tabindex="0">5</div>
</div>



</body>
</html>
