
html {
    width: 100%;
    height: 100%;
 }
 body {
    width: 100%;
    height: 100%;
 }

 .sombras{
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
 }